extends layout

block content
  div#timing
    p#serverlatency
    p#rtt
    p#avgrtt
    form(action='/reset' method='POST' id='reset')
      button(type='submit') reset cars
    input
    ul
  div#canvas-container
